<!-- ============================================================== -->
<!-- Only router without any element -->
<!-- ============================================================== -->
<div class="container-fluid" style="background-color: #231F20;">
    <router-outlet></router-outlet>
</div>