<div class="card">
    <div class="card-header">
        <div class="svg-container">
            <h4><img src="assets/images/scale/master.svg" alt="master" style="width: 5%; height: auto;">
             Master</h4>
        </div>
    </div>
    <div class="card-body">
        <ul id="menu" *ngFor="let strength of masterSkills">
            <li>
               <h6><a href="javascript:void(0)">{{strength.name}}</a></h6>
            </li>
        </ul>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="svg-container">
            <h4><img src="assets/images/scale/experto.svg" alt="expert" style="width: 5%; height: auto;">
             Expert</h4>
        </div>
    </div>
    <div class="card-body">
        <ul id="menu" *ngFor="let strength of expertSkills">
            <li>
               <h6><a href="javascript:void(0)">{{strength.name}}</a></h6>
            </li>
        </ul>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="svg-container">
            <h4><img src="assets/images/scale/competente.svg" alt="expert" style="width: 5%; height: auto;">
             Proficient</h4>
        </div>
    </div>
    <div class="card-body">
        <ul id="menu" *ngFor="let strength of proficientSkills">
            <li>
               <h6><a href="javascript:void(0)">{{strength.name}}</a></h6>
            </li>
        </ul>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="svg-container">
            <h4><img src="assets/images/scale/novato.svg" alt="expert" style="width: 5%; height: auto;">
             novice</h4>
        </div>
    </div>
    <div class="card-body">
        <ul id="menu" *ngFor="let strength of noviceSkills">
            <li>
               <h6><a href="javascript:void(0)">{{strength.name}}</a></h6>
            </li>
        </ul>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="svg-container">
            <h4><img src="assets/images/scale/inexperto.svg" alt="expert" style="width: 5%; height: auto;">
             Inexperienced but interested</h4>
        </div>
    </div>
    <div class="card-body">
        <ul id="menu" *ngFor="let strength of inexperiencedSkills">
            <li>
               <h6><a href="javascript:void(0)">{{strength.name}}</a></h6>
            </li>
        </ul>
    </div>
</div>
