.svg-content { 
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}
.svg-container { 
	display: inline-block;
	position: relative;
	width: 100%;
	vertical-align: middle; 
	overflow: hidden; 
}

ul#menu li {
  display:inline;
}

#menu li
{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  float: left;
}