<div class="card-body"> 
    <div *ngIf="selectedEntity.person.location.country">
        <small class="text-muted">Location </small>
        <h6>{{selectedEntity.person.location.country}}</h6> 
    </div>
    <div *ngIf="selectedEntity.person.summaryOfBio">
        <small class="text-muted p-t-30 db">Bio summary</small>
        <h6>{{selectedEntity.person.summaryOfBio}}</h6> 
    </div>
    <div *ngIf="selectedEntity.person.links">
        <button *ngFor="let social of selectedEntity.person.links" class="btn btn-circle btn-secondary">
            <a href="{{social.address}}" target="_blank"> <i *ngIf="social.name=='linkedin'" class="fa fa-linkedin-square"></i>
            <i *ngIf="social.name==''" class="fa fa-link"></i>
            <i *ngIf="social.name=='facebook'" class="fa fa-facebook"></i></a>
        </button>   
    </div>
</div>