<div class="container-flex" style="background-color: #231F20;">
    <div class="row">
        <!-- Column -->
        <div class="col">
            <form [formGroup]="formEntity">
                <label for="parameter" class="form-label">Search by name</label>
                <div class="input-group">    
                    <input 
                        class="form-control border-end-0 border rounded-pill" 
                        type="text" id="parameter" maxlength="100"
                        formControlName="parameter">
                    <span class="input-group-append">
                        <button 
                            class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3" 
                            type="button" (click)="onSearch()">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div *ngIf="total" class="row">
                <div class="col">
                    <p class="search-results-count">Total {{total}} results</p>
                </div>
                <div class="col">
                    <div class="text-align-center">
                        <ul id="menu">
                            <li>
                                <button 
                                    class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3" 
                                    *ngIf="prev" (click)="onStep(prev)"><i class="fa fa-chevron-left"></i></button>
                            </li>
                            <li>
                                <h5>{{offset}} of {{total}}</h5>
                            </li>
                            <li>
                                <button 
                                    class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3" 
                                    *ngIf="next" (click)="onStep(next)"><i class="fa fa-chevron-right"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px;"></div>
            <div *ngIf="results" class="container">
                <div class="row ng-scope">
                    <div class="col-md-9 col-md-pull-3">
                        
                        <section *ngFor="let result of results" class="search-result-item">
                            <a class="image-link" href="#">
                                <img *ngIf="result.picture" class="image" src="{{result.picture}}">
                                <img *ngIf="result.picture == null" class="image" src="assets/images/users/profile-template.png">
                            </a>
                            <div class="search-result-item-body">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <h4 class="search-result-item-heading"><a href="#">{{result.name}}</a></h4>
                                        <p class="info">{{result.locationName}}</p>
                                        <p class="description">{{result.professionalHeadline}}</p>
                                    </div>
                                    <div class="col-sm-3 text-align-center">
                                        <div *ngIf="getCompensation(result.compensations)" >
                                            <p class="value3 mt-sm">{{getCompensation(result.compensations)}}</p>
                                            <p class="fs-mini text-muted">{{getPeriodicy(result.compensations)}}</p>
                                            <a class="btn btn-primary btn-info btn-sm" (click)="openProfile(result.username)">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="text-align-center">
                            <ul id="menu">
                                <li>
                                    <button 
                                        class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3" 
                                        *ngIf="prev" (click)="onStep(prev)"><i class="fa fa-chevron-left"></i></button>
                                </li>
                                <li>
                                    <h5>{{offset}} of {{total}}</h5>
                                </li>
                                <li>
                                    <button 
                                        class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3" 
                                        *ngIf="next" (click)="onStep(next)"><i class="fa fa-chevron-right"></i></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Column -->
    </div>
</div>